<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to our wonderful domain!</title>
    <meta name="description" content="A desciption of our website and introduction.">
     <link href="welcome.css.scss" rel="stylesheet" media="screen">
    </head>
    <body><div class="contents">
    <header id="mainHeader" role="banner"><!--copy and paste to other pages-->
        <h1><a href="index">Welcome !</a></h1>
        <p id="intro">Welcome to our domain, and we hope you enjoy the visit!</p>
        <nav role="navigation">
        <ul class="navigation">
            <li class=:"sub"><%= link_to("Home", {:action => 'index'})%></li>
            <li><%= link_to("Members", {:action => 'index'})%>
              <ul>
                <li><%= link_to("Login", {:action => 'index'})%></li>
                <li><%= link_to("Sign-Up", {:action => 'index'})%></li>
              </ul>
            </li>
            <li><%= link_to("Maps", {:action => 'index'})%>
              <ul>
                <li><%= link_to("Current", {:action => 'index'})%></li>
                <li><%= link_to("Set", {:action => 'index'})%></li>
              </ul>
            </li>
            <li><%= link_to("Fun-Facts", {:action => 'index'})%></li>
            <li><%= link_to("Learn More", {:action => 'index'})%></li>
            </ul>
        </nav>
        </header>
<p>Add some things below</p>
