<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>Current Date is: <%= Time.now.month%>-<%= Time.now.day%>-<%= Time.now.year%></p>
<p>Current Time is: <%= sprintf("%02d",Time.now.hour%12)%>:
  <%= sprintf("%02d",Time.now.min)%>
  <%if Time.now.hour/12 >= 1%>
    <%= "pm"%>
  <%else%>
    <%= "am"%>
  <%end%>

  <% if !flash[:notice].blank? %>
      <p><%= flash[:notice] %></p>
  <%end%>
<div class="star_container"></div>
</div>

<script>
constell_to_star('https://star-api.herokuapp.com/api/v1/constellation_star_unions?min[constellation_id]=67&max[constellation_id]=69');
</script>

<!--
<script>
//constell_to_star('https://star-api.herokuapp.com/api/v1/constellation_star_unions?min[constellation_id]=61&max[constellation_id]=67');
//alert((Math.cos(90*Math.PI/180)));
for(i = 0; i < 23; i++){
  items = [];
  radius = Math.sqrt(array[i][0]*array[i][0]+array[i][1]*array[i][1]+array[i][2]*array[i][2]);
  array_2[i][0] = radius;
  array_2[i][1] = 180*(Math.atan((array[i][1]/array[i][0])))/Math.PI;
  array_2[i][2] = 180*(Math.acos((array[i][2]/radius)))/Math.PI;

  items.push("["+array_2[i][1]+", ");
  items.push(array_2[i][2]+"],");
  $(".star_container").append("<li style='list-style-type: none;'>"+items+"</li>");
}
</script>
-->
<script src="welcome.js"></script>
