<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>Current Date is: <%= Time.now.month%>-<%= Time.now.day%>-<%= Time.now.year%></p>
<p>Current Time is: <%= sprintf("%02d",Time.now.hour%12)%>:
  <%= sprintf("%02d",Time.now.min)%>
  <%if Time.now.hour/12 >= 1%>
    <%= "pm"%>
  <%else%>
    <%= "am"%>
  <%end%>

  <% if !flash[:notice].blank? %>
      <p><%= flash[:notice] %></p>
  <%end%>
<div class="star_container"></div>
</div>

<script>
var i = 0;
var radius;
var items = [];
var array = [[49.5362, 91.0151, 66.5508],
[39.4482, 123.7706, 78.8752],
[12.0766, 22.9844, 22.4936],
[82.7531, 164.2205, 91.3651],
[45.5082, 80.9645, 63.4574],
[26.711, 62.6556, 62.8497],
[20.5078, 64.9849, 68.2314],
[15.6482, 45.0563, 51.3407],
[56.5351, 81.3014, 39.1831],
[4.6167, 6.0038, 3.6329],
[21.8126, 31.0473, 16.7079],
[64.3301, 75.2744, 53.6378],
[14.0526, 14.9773, 12.5478],
[24.3233, 32.107, 29.4541],
[4.9949, 6.5472, 6.9808],
[26.8873, 21.779, 29.2537],
[82.7192, 59.0764, 53.6353],
[36.7555, 25.9845, 39.5446],
[12.0766, 22.9844, 22.4936],
[4.9949, 6.5472, 6.9808],
[24.3233, 32.107, 29.4541],
[26.8873, 21.779, 29.2537],
[45.5082, 80.9645, 63.4574]];

var array_2 = [[49.5362, 91.0151, 66.5508],
[39.4482, 123.7706, 78.8752],
[12.0766, 22.9844, 22.4936],
[82.7531, 164.2205, 91.3651],
[45.5082, 80.9645, 63.4574],
[26.711, 62.6556, 62.8497],
[20.5078, 64.9849, 68.2314],
[15.6482, 45.0563, 51.3407],
[56.5351, 81.3014, 39.1831],
[4.6167, 6.0038, 3.6329],
[21.8126, 31.0473, 16.7079],
[64.3301, 75.2744, 53.6378],
[14.0526, 14.9773, 12.5478],
[24.3233, 32.107, 29.4541],
[4.9949, 6.5472, 6.9808],
[26.8873, 21.779, 29.2537],
[82.7192, 59.0764, 53.6353],
[36.7555, 25.9845, 39.5446],
[12.0766, 22.9844, 22.4936],
[4.9949, 6.5472, 6.9808],
[24.3233, 32.107, 29.4541],
[26.8873, 21.779, 29.2537],
[45.5082, 80.9645, 63.4574]];
//constell_to_star('https://star-api.herokuapp.com/api/v1/constellation_star_unions?min[constellation_id]=61&max[constellation_id]=67');
//alert((Math.cos(90*Math.PI/180)));
for(i = 0; i < 23; i++){
  items = [];
  radius = Math.sqrt(array[i][0]*array[i][0]+array[i][1]*array[i][1]+array[i][2]*array[i][2]);
  array_2[i][0] = radius;
  array_2[i][1] = 180*(Math.atan((array[i][1]/array[i][0])))/Math.PI;
  array_2[i][2] = 180*(Math.acos((array[i][2]/radius)))/Math.PI;

  items.push("["+array_2[i][1]+", ");
  items.push(array_2[i][2]+"],");
  $(".star_container").append("<li style='list-style-type: none;'>"+items+"</li>");
}
</script>

<script src="welcome.js"></script>
