<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>Current Date is: <%= Time.now.month%>-<%= Time.now.day%>-<%= Time.now.year%></p>
<p>Current Time is: <%= sprintf("%02d",Time.now.hour%12)%>:
  <%= sprintf("%02d",Time.now.min)%>
  <%if Time.now.hour/12 >= 1%>
    <%= "pm"%>
  <%else%>
    <%= "am"%>
  <%end%>

  <% if !flash[:notice].blank? %>
      <p><%= flash[:notice] %></p>
  <%end%>
<div class="star_container"></div>
<p id='demo'>cats</p>
</div>


<script>
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=63922&max[id]=63924');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=126950&max[id]=126952');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=123795&max[id]=123797');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=119507&max[id]=119509');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=121851&max[id]=121853');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=117826&max[id]=117828');
star('https://star-api.herokuapp.com/api/v1/stars?min[id]=115704&max[id]=115706');
</script>

<script src="welcome.js"></script>
