<head>
  <meta charset="utf-8">
  <script>resetClick()</script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<div class="contents">
  <header id="mainHeader" role="banner"><!--copy and paste to other pages-->
    <h1><%= link_to("StarGrazed", {:controller => 'welcome', :action => 'index'})%></h1>
    <nav role="navigation">
      <ul class="navigation">
        <li><%= link_to("Home", {:controller => 'welcome', :action => 'index'})%></li>
        <li>
          <% if session[:user_id] %>
              <%= link_to("Members", {:controller => 'login', :action => 'index', :class => 'current'})%>
          <%else%>
              <%= link_to("Members", {:controller => 'login', :action => 'login'})%>
          <%end%>
          <ul>
            <li><% if session[:user_id] %>
                  <%= link_to("Log Out", {:controller => 'login', :action => 'logout'})%>
              <%else%>
                  <%= link_to("Login", {:controller => 'login', :action => 'login'})%>
              <%end%>
            </li>
            <li><%= link_to("Sign-Up", {:controller => 'login', :action => 'new_user'})%></li>
          </ul>
        </li>
        <li><%= link_to("Maps", {:controller => 'map', :action => 'index'})%>
          <ul>
            <li><%= link_to("Current", {:controller => 'map', :action => 'current'})%></li>
            <li><%= link_to("East Night", {:controller => 'map', :action => 'east'})%></li>
            <li><%= link_to("West Night", {:controller => 'map', :action => 'west'})%></li>
            <li><%= link_to("Zodiac", {:controller => 'map', :action => 'zod'})%></li>
            <li><%= link_to("Index", {:controller => 'map', :action => 'index'})%></li>
          </ul>
        </li>
        <li><%= link_to("Fun-Facts", {:controller => 'constellations', :action => 'index'}, class:"current")%></li>
        <li><%= link_to("Learn More", {:controller => 'learn', :action => 'index'})%></li>
      </ul>
    </nav>
  </header>

  <!--</div> for contents does not end here;
  manually put it on the page you are working on-->
