<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<span>
  <h2 class="constell_titleh2">Constellations</h2>
</span>

<% if session[:user_id] && session[:username] == 'admin' %>
  <div class="container">
    <div class="admin">
      <h3>Upload/Update Constellations</h3>
        <%= form_tag import_constellations_path, multipart: true, :class => 'railsButton' do %>
            <%= file_field_tag :file, :class => 'fileField'%>
            <%= submit_tag "Submit CSV" %>
        <% end %>
    </div>
  </div>
  <div class="container">
    <div class = "notice">
      <h3>
        <%= flash[:notice] %>
      </h3>
    </div>
  </div>
<% end %>

<% constellations = Constellation.all %>
  <% if constellations.size != 0 %>
    <% count = 0 %>
    <div id="tableOfContents">
      <h3>Table of Contents</h3>
      <span>
        <% @constellations.order(:Constellation).each do |constellation| %>
          <% count += 1 %>
          <a href="#<%= constellation.Abbreviation %>"><%=constellation.Constellation %></a><% if count != constellations.size %>, <% end %>
        <% end %>
      </span>
    </div>
  <% end %>

<div id="constellList">

  <% if constellations.size == 0 %>
      <h3 class="constellh3">No constellations to display :(</h3>
  <% else %>
      <table id="constell">
        <thead>
        <tr>
          <th>Name</th>
          <th>Abbr.</th>
          <th>Family</th>
          <th>Origin</th>
          <th>Meaning</th>
          <th>Brightest Star</th>
          <th class="info">Extra Info</th>
          <th>Image</th>
          <% if session[:user_id] && session[:username] == 'admin' %>
            <th>Tools</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @constellations.order(:Constellation).each do |constellation| %>
            <tr class='bodyRow' id=<%= constellation.Abbreviation %>>
              <td><%= constellation.Constellation %></td>
              <td><%= constellation.Abbreviation %></td>
              <td><%= constellation.Family %></td>
              <td><%= constellation.Origin %></td>
              <td><%= constellation.Meaning %></td>
              <td><%= constellation.Brightest_star %></td>
              <td class="info"><%= constellation.Info %></td>
              <td>
                <div class="enlarge">
                  <%= image_tag("#{constellation.Image}", :size => "50x55") %>
                  <span><%= image_tag("#{constellation.Image}", :size => "600x610") %></span>
                </div>
              </td>
              <% if session[:user_id] && session[:username] == 'admin' %>
                  <td>
                    <div class="wrapper2">
                      <div class="left">
                        <%= button_to "Edit", edit_constellation_path(constellation), :method => "get" %>
                      </div>
                      <div class="right">
                        <%= button_to "Delete", constellation_path(constellation), :method => :delete %>
                      </div>
                    </div>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>

<div id="sources">
  <span>Sources:</span>
  <span><a href="http://www.iau.org/public/themes/constellations/">International Astronomical Union</a> / </span>
  <span><a href="http://www.constellation-guide.com/">Constellation Guide</a></span>
</div>
