<% @page_title = "Admin Menu" %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<section class="login_style">
  <h2 class="user_menu_title">User Menu</h2>
  <div class="user_list">
    <% if !flash[:notice].blank? %>
        <%= flash[:notice] %>
    <%end%>
    <ul>
      <%= link_to("Profile", :action => 'profile') %>
      <br>
      <br>
      <%= link_to("Logout", :action => 'logout') %>
    </ul>
  </div>
</section>
