<% @page_title = "Admin Login" %>
<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>
<section class="login_style">
  <div>
    <% if !flash[:notice].blank? %>
        <%= flash[:notice] %>
    <%end%>

    <%= form_tag(:action => 'attempt_login') do %>
    <table class="user-login">
      <tr>
        <td><%= label_tag(:username) %></td>
        <td><%= text_field_tag(:username)%></td>
      </tr>
      <tr>
        <td><%= label_tag(:password) %></td>
        <td><%= password_field_tag(:password)%></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag("Login") %></td>
      </tr>
    </table>
    <%end%>
  </div>
</section>
