<head>
  <meta charset="utf-8">
</head>
<div class="contents">
  <header id="mainHeader" role="banner"><!--copy and paste to other pages-->
    <h1><%= link_to("Welcome !", {:controller => 'welcome', :action => 'index'})%></h1>
    <p id="intro">Welcome to our domain, and we hope you enjoy the visit!</p>
    <nav role="navigation">
      <ul class="navigation">
        <li><%= link_to("Home", {:controller => 'welcome', :action => 'index'})%></li>
        <li>
          <% if session[:user_id] %>
              <%= link_to("Members", {:controller => 'login', :action => 'index', :class => 'current'})%>
          <%else%>
              <%= link_to("Members", {:controller => 'login', :action => 'login'})%>
          <%end%>
          <ul>
            <li><% if session[:user_id] %>
                  <%= link_to("Log Out", {:controller => 'login', :action => 'logout'})%>
              <%else%>
                  <%= link_to("Login", {:controller => 'login', :action => 'login'})%>
              <%end%>
            </li>
            <li><%= link_to("Sign-Up", {:controller => 'login', :action => 'new_user'})%></li>
          </ul>
        </li>
        <li><%= link_to("Maps", {:controller => 'map', :action => 'index'}, class:"current")%>
          <ul>
            <li><%= link_to("Current", {:action => 'index'})%></li>
            <li><%= link_to("Set", {:action => 'index'})%></li>
          </ul>
        </li>
        <li><%= link_to("Fun-Facts", {:controller => 'fact', :action => 'index'})%></li>
        <li><%= link_to("Learn More", {:controller => 'learn', :action => 'index'})%></li>
      </ul>
    </nav>
  </header>

  <!--</div> for contents does not end here;
  manually put it on the page you are working on-->
