<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>Current Date is: <%= Time.now.month%>-<%= Time.now.day%>-<%= Time.now.year%></p>
<p>Current Time is: <%= sprintf("%02d",Time.now.hour%12)%>:
  <%= sprintf("%02d",Time.now.min)%>
  <%if Time.now.hour/12 >= 1%>
    <%= "pm"%>
  <%else%>
    <%= "am"%>
  <%end%>

  <% if !flash[:notice].blank? %>
      <p><%= flash[:notice] %></p>
  <%end%>

<%= form_tag do %>

<% end %>

<div class="star_container"></div>
</div>

<script>
</script>

<script src="welcome.js"></script>
