<%= error_messages_for(@user) %>

<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<h3 class="map_titlepage">Maps</h3>

<p class="map_content">
  <strong>You must log-in to the app to access the maps.</strong>
  Also the sky-maps require IE9+ or Chrome to be able to view and
  interact with the SVG properly.
</p>

<p class="map_content">Current Date is: <%= Time.now.month%>-<%= Time.now.day%>-<%= Time.now.year%></p>

<section class="map_table_area">
  <table class="map_table" >
    <tr>
      <td><h2 class="map_names"><%= link_to("Current", {:action => 'current'})%></h2></td>
      <td>
        <p class="map_content">
          The "Current" map is designed to allow a user to interact with a sky-map
          that is representative of the current month. One is also able to "shift" the map
          by choosing a different month and will be given a different set of constellations to
          work with.
        </p>
      </td>
    </tr>

    <tr>
      <td><h2 class="map_names"><%= link_to("West", {:action => 'west'})%></h2></td>
      <td>
        <p class="map_content">
          The "West" map is a sky-map over Vancouver, BC, more accurately during the month of February.
          It is preset and much easier to follow than "Current."
        </p>
      </td>
    </tr>

    <tr>
      <td><h2 class="map_names"><%= link_to("East", {:action => 'east'})%></h2></td>
      <td>
        <p class="map_content">
          The "East" map is a sky-map over Moscow, Russia, more accurately during the month of February.
          It is preset and much easier to follow than "Current". One may notice that it is very similar to the Vancouver map.
        </p>
      </td>
    </tr>

    <tr>
      <td><h2 class="map_names"><%= link_to("Zodiac", {:action => 'zod'})%></h2></td>
      <td>
        <p class="map_content">
          "Zodiac" is a map which spans the whole year and is used to identify
          the twelve signs of the zodiac. It is the easiest map to complete as there are little
          to no interfering constellations and stars
        </p>
      </td>
    </tr>
  </table>
</section>

<br>
<br>
<p class="map_content"><em><b>Note:</b> For all maps it is assumed to be 9pm-12am, which is the ideal time to view most (visible) constellations.
  The blue circle on the map indicates a possible field-of-view.</em></p>

</div>
