<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>You require Chrome or IE9 to view this page properly.</p>
<p>This page is a (possible) view of what can be seen at 49, 128 at 9:00pm</p>
<div id="timer">
  <span>00:00:00</span>
</div>

<svg id='test' width="1000" height="800" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
   <filter id="f1" x="0" y=0>
     <feGaussianBlur in="SourceGraphic" stdDeviation="1"/>
   </filter>
  </defs>

  <ellipse cx="500" cy="400" rx="400" ry="350"
    fill="none" stroke="blue" stroke-width ="3"/>


<%x_scale = -5%>
<%x_shift = 450%>

<%y_scale = 5%>
<%y_shift = 0%>


<%def star_red(b_index)%>
  <%color1 = 250 + 100*b_index%>
  <%if color1 > 255%>
    <%color1 = 255%>
  <%end%>
  <%return (color1*100).round/100%>
<%end%>

<%def star_green(b_index)%>
  <%color2 = 250 - 80*(b_index.abs)%>
  <%return (color2*100).round/100%>
<%end%>

<%def star_blue(b_index)%>
  <%color3 = 250 - 100*(b_index)%>
  <%if color3 > 255 %>
    <%color3 = 255%>
  <%end%>
  <%return (color3*100).round/100%>
<%end%>

<%def draw_const(const, const_name) %>
  <%i = 0%>
  <%while const[i] != nil%>
    <%x_scale = -5%>
    <%x_shift = 450%>

    <%red = star_red(const[i][3])%>
    <%green = star_green(const[i][3])%>
    <%blue = star_blue(const[i][3])%>
    <circle id="const_name<%=i%>" cx="<%=(const[i][0])*x_scale+x_shift%>" cy="<%=const[i][1]*5%>"
      r="<%=7-const[i][2]%>" opacity="1" style="filter:url(#f1)"
      fill="rgb(<%=red%>,<%=green%>, <%=blue%>)" onclick="<%=const_name%>_Click(<%=i%>)">
      <animateTransform attributeName="transform" type="rotate" dur="6s"from="0
      <%=const[i][0]*x_scale+x_shift%> <%=const[i][1]*5%>" to="360
      <%=const[i][0]*x_scale+x_shift%> <%=const[i][1]*5%>" repeatCount="indefinite"/>
    </circle>
    <%i = i+1%>
  <%end%>
  <%return%>
<%end%>

<%def connect(const, class_name, s1, s2)%>
  <%x_scale = -5%>
  <%x_shift_1 = 450%>
  <%x_shift_2 = 450%>
  <%y_scale = 5%>
  <%y_shift = 0%>

  <line class="<%=class_name%>" x1="<%=const[s1][0]*x_scale+x_shift_1%>" y1="<%=const[s1][1]*y_scale+y_shift%>"
    x2="<%=const[s2][0]*x_scale+x_shift_2%>" y2="<%=const[s2][1]*y_scale+y_shift%>"/>
    <%return%>
<%end%>

<%draw_const(@andro, "andro")%>
<%draw_const(@lyra, "lyra")%>
<%draw_const(@aur, "aur")%>
<%draw_const(@gem, "gem")%>
<%draw_const(@canis_major, "canis_major")%>
<%draw_const(@canis_minor, "canis_minor")%>
<%draw_const(@orion, "orion")%>
<!-- don't connect Andromeda-->

<%draw_const(@herc, "herc")%>
<%connect(@herc, "herc1", 0, 1)%>
<%connect(@herc, "herc2", 1, 2)%>
<%connect(@herc, "herc14", 2, 14)%>
<%connect(@herc, "herc15", 15, 3)%>
<%connect(@herc, "herc4", 3, 4)%>
<%connect(@herc, "herc5", 4, 5)%>
<%connect(@herc, "herc10", 16, 10)%>
<%connect(@herc, "herc6", 6, 7)%>
<%connect(@herc, "herc7", 7, 8)%>
<%connect(@herc, "herc8", 8, 9)%>
<%connect(@herc, "herc10", 10, 12)%>
<%connect(@herc, "herc10", 9, 10)%>
<%connect(@herc, "herc11", 14, 15)%>
<%connect(@herc, "herc11", 15, 11)%>
<%connect(@herc, "herc14", 16, 14)%>
<%connect(@herc, "herc16", 16, 11)%>
<%connect(@herc, "herc11", 11, 17)%>
<%connect(@herc, "herc11", 12, 17)%>
<%connect(@herc, "herc11", 13, 17)%>

<%draw_const(@ursa_minor, "ursa_minor")%>
<%connect(@ursa_minor, "ursa_minor1", 0, 1)%>
<%connect(@ursa_minor, "ursa_minor2", 1, 2)%>
<%connect(@ursa_minor, "ursa_minor3", 2, 3)%>
<%connect(@ursa_minor, "ursa_minor4", 3, 4)%>
<%connect(@ursa_minor, "ursa_minor5", 4, 5)%>
<%connect(@ursa_minor, "ursa_minor6", 5, 6)%>
<%connect(@ursa_minor, "ursa_minor3", 3, 6)%>

<%draw_const(@ursa_major, "ursa_major")%>
<%connect(@ursa_major, "ursa_major1", 0, 1)%>
<%connect(@ursa_major, "ursa_major2", 1, 2)%>
<%connect(@ursa_major, "ursa_major3", 2, 3)%>
<%connect(@ursa_major, "ursa_major5", 3, 5)%>
<%connect(@ursa_major, "ursa_major6", 3, 6)%>
<%connect(@ursa_major, "ursa_major4", 4, 9)%>
<%connect(@ursa_major, "ursa_major4", 4, 5)%>
<%connect(@ursa_major, "ursa_major6", 6, 7)%>
<%connect(@ursa_major, "ursa_major6", 6, 4)%>
<%connect(@ursa_major, "ursa_major7", 7, 8)%>
<%connect(@ursa_major, "ursa_major7", 7, 9)%>
<%connect(@ursa_major, "ursa_major9", 8, 9)%>
<%connect(@ursa_major, "ursa_major10", 9, 10)%>
<%connect(@ursa_major, "ursa_major12", 10, 12)%>
<%connect(@ursa_major, "ursa_major11", 11, 12)%>
<%connect(@ursa_major, "ursa_major13", 5, 13)%>
<%connect(@ursa_major, "ursa_major15", 13, 15)%>
<%connect(@ursa_major, "ursa_major15", 14, 15)%>
<%connect(@ursa_major, "ursa_major16", 13, 16)%>
<%connect(@ursa_major, "ursa_major17", 16, 17)%>

<%draw_const(@cygnus, "cygnus")%>
<line class="cygnus1" x1="<%=@cygnus[0][0]*x_scale+x_shift%>" y1="<%=@cygnus[0][1]*y_scale+y_shift%>" x2="<%=@cygnus[1][0]*x_scale+x_shift%>" y2="<%=@cygnus[1][1]*y_scale+y_shift%>"/>
<line class="cygnus3" x1="<%=@cygnus[3][0]*x_scale+x_shift%>" y1="<%=@cygnus[3][1]*y_scale+y_shift%>" x2="<%=@cygnus[4][0]*x_scale+x_shift%>" y2="<%=@cygnus[4][1]*y_scale+y_shift%>"/>
<line class="cygnus2" x1="<%=@cygnus[2][0]*x_scale+x_shift%>" y1="<%=@cygnus[2][1]*y_scale+y_shift%>" x2="<%=@cygnus[5][0]*x_scale+x_shift%>" y2="<%=@cygnus[5][1]*y_scale+y_shift%>"/>
<line class="cygnus6" x1="<%=@cygnus[2][0]*x_scale+x_shift%>" y1="<%=@cygnus[2][1]*y_scale+y_shift%>" x2="<%=@cygnus[6][0]*x_scale+x_shift%>" y2="<%=@cygnus[6][1]*y_scale+y_shift%>"/>
<line class="cygnus8" x1="<%=@cygnus[1][0]*x_scale+x_shift%>" y1="<%=@cygnus[1][1]*y_scale+y_shift%>" x2="<%=@cygnus[8][0]*x_scale+x_shift%>" y2="<%=@cygnus[8][1]*y_scale+y_shift%>"/>
<line class="cygnus5" x1="<%=@cygnus[1][0]*x_scale+x_shift%>" y1="<%=@cygnus[1][1]*y_scale+y_shift%>" x2="<%=@cygnus[5][0]*x_scale+x_shift%>" y2="<%=@cygnus[5][1]*y_scale+y_shift%>"/>
<line class="cygnus7" x1="<%=@cygnus[1][0]*x_scale+x_shift%>" y1="<%=@cygnus[1][1]*y_scale+y_shift%>" x2="<%=@cygnus[7][0]*x_scale+x_shift%>" y2="<%=@cygnus[7][1]*y_scale+y_shift%>"/>
<line class="cygnus9" x1="<%=@cygnus[8][0]*x_scale+x_shift%>" y1="<%=@cygnus[8][1]*y_scale+y_shift%>" x2="<%=@cygnus[9][0]*x_scale+x_shift%>" y2="<%=@cygnus[9][1]*y_scale+y_shift%>"/>
<line class="cygnus4" x1="<%=@cygnus[4][0]*x_scale+x_shift%>" y1="<%=@cygnus[4][1]*y_scale+y_shift%>" x2="<%=@cygnus[7][0]*x_scale+x_shift%>" y2="<%=@cygnus[7][1]*y_scale+y_shift%>"/>


<%draw_const(@bootes, "bootes")%>
<line class="bootes1" x1="<%=@bootes[0][0]*x_scale+x_shift%>" y1="<%=@bootes[0][1]*y_scale+y_shift%>" x2="<%=@bootes[1][0]*x_scale+x_shift%>" y2="<%=@bootes[1][1]*y_scale+y_shift%>"/>
<line class="bootes2" x1="<%=@bootes[1][0]*x_scale+x_shift%>" y1="<%=@bootes[1][1]*y_scale+y_shift%>" x2="<%=@bootes[2][0]*x_scale+x_shift%>" y2="<%=@bootes[2][1]*y_scale+y_shift%>"/>
<line class="bootes3" x1="<%=@bootes[2][0]*x_scale+x_shift%>" y1="<%=@bootes[2][1]*y_scale+y_shift%>" x2="<%=@bootes[3][0]*x_scale+x_shift%>" y2="<%=@bootes[3][1]*y_scale+y_shift%>"/>
<line class="bootes5" x1="<%=@bootes[3][0]*x_scale+x_shift%>" y1="<%=@bootes[3][1]*y_scale+y_shift%>" x2="<%=@bootes[5][0]*x_scale+x_shift%>" y2="<%=@bootes[5][1]*y_scale+y_shift%>"/>
<line class="bootes6" x1="<%=@bootes[3][0]*x_scale+x_shift%>" y1="<%=@bootes[3][1]*y_scale+y_shift%>" x2="<%=@bootes[6][0]*x_scale+x_shift%>" y2="<%=@bootes[6][1]*y_scale+y_shift%>"/>
<line class="bootes4" x1="<%=@bootes[4][0]*x_scale+x_shift%>" y1="<%=@bootes[4][1]*y_scale+y_shift%>" x2="<%=@bootes[6][0]*x_scale+x_shift%>" y2="<%=@bootes[6][1]*y_scale+y_shift%>"/>
<line class="bootes7" x1="<%=@bootes[7][0]*x_scale+x_shift%>" y1="<%=@bootes[7][1]*y_scale+y_shift%>" x2="<%=@bootes[5][0]*x_scale+x_shift%>" y2="<%=@bootes[5][1]*y_scale+y_shift%>"/>
<line class="bootes8" x1="<%=@bootes[7][0]*x_scale+x_shift%>" y1="<%=@bootes[7][1]*y_scale+y_shift%>" x2="<%=@bootes[8][0]*x_scale+x_shift%>" y2="<%=@bootes[8][1]*y_scale+y_shift%>"/>
<line class="bootes9" x1="<%=@bootes[8][0]*x_scale+x_shift%>" y1="<%=@bootes[8][1]*y_scale+y_shift%>" x2="<%=@bootes[9][0]*x_scale+x_shift%>" y2="<%=@bootes[9][1]*y_scale+y_shift%>"/>
<line class="bootes10" x1="<%=@bootes[9][0]*x_scale+x_shift%>" y1="<%=@bootes[9][1]*y_scale+y_shift%>" x2="<%=@bootes[10][0]*x_scale+x_shift%>" y2="<%=@bootes[10][1]*y_scale+y_shift%>"/>
<line class="bootes10" x1="<%=@bootes[10][0]*x_scale+x_shift%>" y1="<%=@bootes[10][1]*y_scale+y_shift%>" x2="<%=@bootes[3][0]*x_scale+x_shift%>" y2="<%=@bootes[3][1]*y_scale+y_shift%>"/>

<%draw_const(@cass, "cass")%>
<line class="cass1" x1="<%=@cass[0][0]*x_scale+x_shift%>" y1="<%=@cass[0][1]*y_scale+y_shift%>" x2="<%=@cass[1][0]*x_scale+x_shift%>" y2="<%=@cass[1][1]*y_scale+y_shift%>"/>
<line class="cass2" x1="<%=@cass[1][0]*x_scale+x_shift%>" y1="<%=@cass[1][1]*y_scale+y_shift%>" x2="<%=@cass[2][0]*x_scale+x_shift%>" y2="<%=@cass[2][1]*y_scale+y_shift%>"/>
<line class="cass3" x1="<%=@cass[2][0]*x_scale+x_shift%>" y1="<%=@cass[2][1]*y_scale+y_shift%>" x2="<%=@cass[3][0]*x_scale+x_shift%>" y2="<%=@cass[3][1]*y_scale+y_shift%>"/>
<line class="cass4" x1="<%=@cass[3][0]*x_scale+x_shift%>" y1="<%=@cass[3][1]*y_scale+y_shift%>" x2="<%=@cass[4][0]*x_scale+x_shift%>" y2="<%=@cass[4][1]*y_scale+y_shift%>"/>

<%draw_const(@cep, "cep")%>
<line class="cep4" x1="<%=@cep[0][0]*x_scale+x_shift%>" y1="<%=@cep[0][1]*y_scale+y_shift%>" x2="<%=@cep[4][0]*x_scale+x_shift%>" y2="<%=@cep[4][1]*y_scale+y_shift%>"/>
<line class="cep5" x1="<%=@cep[1][0]*x_scale+x_shift%>" y1="<%=@cep[1][1]*y_scale+y_shift%>" x2="<%=@cep[5][0]*x_scale+x_shift%>" y2="<%=@cep[5][1]*y_scale+y_shift%>"/>
<line class="cep4" x1="<%=@cep[2][0]*x_scale+x_shift%>" y1="<%=@cep[2][1]*y_scale+y_shift%>" x2="<%=@cep[4][0]*x_scale+x_shift%>" y2="<%=@cep[4][1]*y_scale+y_shift%>"/>
<line class="cep3" x1="<%=@cep[3][0]*x_scale+x_shift%>" y1="<%=@cep[3][1]*y_scale+y_shift%>" x2="<%=@cep[0][0]*x_scale+x_shift%>" y2="<%=@cep[0][1]*y_scale+y_shift%>"/>
<line class="cep4" x1="<%=@cep[4][0]*x_scale+x_shift%>" y1="<%=@cep[4][1]*y_scale+y_shift%>" x2="<%=@cep[8][0]*x_scale+x_shift%>" y2="<%=@cep[8][1]*y_scale+y_shift%>"/>
<line class="cep5" x1="<%=@cep[5][0]*x_scale+x_shift%>" y1="<%=@cep[5][1]*y_scale+y_shift%>" x2="<%=@cep[2][0]*x_scale+x_shift%>" y2="<%=@cep[2][1]*y_scale+y_shift%>"/>
<line class="cep6" x1="<%=@cep[1][0]*x_scale+x_shift%>" y1="<%=@cep[1][1]*y_scale+y_shift%>" x2="<%=@cep[6][0]*x_scale+x_shift%>" y2="<%=@cep[6][1]*y_scale+y_shift%>"/>
<line class="cep7" x1="<%=@cep[6][0]*x_scale+x_shift%>" y1="<%=@cep[6][1]*y_scale+y_shift%>" x2="<%=@cep[7][0]*x_scale+x_shift%>" y2="<%=@cep[7][1]*y_scale+y_shift%>"/>
<line class="cep8" x1="<%=@cep[7][0]*x_scale+x_shift%>" y1="<%=@cep[7][1]*y_scale+y_shift%>" x2="<%=@cep[8][0]*x_scale+x_shift%>" y2="<%=@cep[8][1]*y_scale+y_shift%>"/>


<%draw_const(@taur, "taur")%>
<line class="taur1" x1="<%=@taur[0][0]*x_scale+x_shift%>" y1="<%=@taur[0][1]*y_scale+y_shift%>" x2="<%=@taur[1][0]*x_scale+x_shift%>" y2="<%=@taur[1][1]*y_scale+y_shift%>"/>
<line class="taur2" x1="<%=@taur[1][0]*x_scale+x_shift%>" y1="<%=@taur[1][1]*y_scale+y_shift%>" x2="<%=@taur[2][0]*x_scale+x_shift%>" y2="<%=@taur[2][1]*y_scale+y_shift%>"/>
<line class="taur3" x1="<%=@taur[2][0]*x_scale+x_shift%>" y1="<%=@taur[2][1]*y_scale+y_shift%>" x2="<%=@taur[3][0]*x_scale+x_shift%>" y2="<%=@taur[3][1]*y_scale+y_shift%>"/>
<line class="taur4" x1="<%=@taur[3][0]*x_scale+x_shift%>" y1="<%=@taur[3][1]*y_scale+y_shift%>" x2="<%=@taur[4][0]*x_scale+x_shift%>" y2="<%=@taur[4][1]*y_scale+y_shift%>"/>
<line class="taur5" x1="<%=@taur[3][0]*x_scale+x_shift%>" y1="<%=@taur[3][1]*y_scale+y_shift%>" x2="<%=@taur[5][0]*x_scale+x_shift%>" y2="<%=@taur[5][1]*y_scale+y_shift%>"/>
<line class="taur6" x1="<%=@taur[6][0]*x_scale+x_shift%>" y1="<%=@taur[6][1]*y_scale+y_shift%>" x2="<%=@taur[4][0]*x_scale+x_shift%>" y2="<%=@taur[4][1]*y_scale+y_shift%>"/>
<line class="taur7" x1="<%=@taur[6][0]*x_scale+x_shift%>" y1="<%=@taur[6][1]*y_scale+y_shift%>" x2="<%=@taur[7][0]*x_scale+x_shift%>" y2="<%=@taur[7][1]*y_scale+y_shift%>"/>
<line class="taur9" x1="<%=@taur[5][0]*x_scale+x_shift%>" y1="<%=@taur[5][1]*y_scale+y_shift%>" x2="<%=@taur[9][0]*x_scale+x_shift%>" y2="<%=@taur[9][1]*y_scale+y_shift%>"/>
<line class="taur9" x1="<%=@taur[8][0]*x_scale+x_shift%>" y1="<%=@taur[8][1]*y_scale+y_shift%>" x2="<%=@taur[9][0]*x_scale+x_shift%>" y2="<%=@taur[9][1]*y_scale+y_shift%>"/>


<%draw_const(@aqu, "aqu")%>
<line class="aqu1" x1="<%=@aqu[0][0]*x_scale+x_shift%>" y1="<%=@aqu[0][1]*y_scale+y_shift%>" x2="<%=@aqu[1][0]*x_scale+x_shift%>" y2="<%=@aqu[1][1]*y_scale+y_shift%>"/>
<line class="aqu7" x1="<%=@aqu[1][0]*x_scale+x_shift%>" y1="<%=@aqu[1][1]*y_scale+y_shift%>" x2="<%=@aqu[7][0]*x_scale+x_shift%>" y2="<%=@aqu[7][1]*y_scale+y_shift%>"/>
<line class="aqu3" x1="<%=@aqu[2][0]*x_scale+x_shift%>" y1="<%=@aqu[2][1]*y_scale+y_shift%>" x2="<%=@aqu[3][0]*x_scale+x_shift%>" y2="<%=@aqu[3][1]*y_scale+y_shift%>"/>
<line class="aqu9" x1="<%=@aqu[1][0]*x_scale+x_shift%>" y1="<%=@aqu[1][1]*y_scale+y_shift%>" x2="<%=@aqu[9][0]*x_scale+x_shift%>" y2="<%=@aqu[9][1]*y_scale+y_shift%>"/>
<line class="aqu2" x1="<%=@aqu[9][0]*x_scale+x_shift%>" y1="<%=@aqu[9][1]*y_scale+y_shift%>" x2="<%=@aqu[2][0]*x_scale+x_shift%>" y2="<%=@aqu[2][1]*y_scale+y_shift%>"/>
<line class="aqu4" x1="<%=@aqu[3][0]*x_scale+x_shift%>" y1="<%=@aqu[3][1]*y_scale+y_shift%>" x2="<%=@aqu[4][0]*x_scale+x_shift%>" y2="<%=@aqu[4][1]*y_scale+y_shift%>"/>
<line class="aqu5" x1="<%=@aqu[5][0]*x_scale+x_shift%>" y1="<%=@aqu[5][1]*y_scale+y_shift%>" x2="<%=@aqu[6][0]*x_scale+x_shift%>" y2="<%=@aqu[6][1]*y_scale+y_shift%>"/>
<line class="aqu7" x1="<%=@aqu[5][0]*x_scale+x_shift%>" y1="<%=@aqu[5][1]*y_scale+y_shift%>" x2="<%=@aqu[7][0]*x_scale+x_shift%>" y2="<%=@aqu[7][1]*y_scale+y_shift%>"/>
<line class="aqu6" x1="<%=@aqu[6][0]*x_scale+x_shift%>" y1="<%=@aqu[6][1]*y_scale+y_shift%>" x2="<%=@aqu[9][0]*x_scale+x_shift%>" y2="<%=@aqu[9][1]*y_scale+y_shift%>"/>
<line class="aqu8" x1="<%=@aqu[7][0]*x_scale+x_shift%>" y1="<%=@aqu[7][1]*y_scale+y_shift%>" x2="<%=@aqu[8][0]*x_scale+x_shift%>" y2="<%=@aqu[8][1]*y_scale+y_shift%>"/>

<%draw_const(@pers, "pers")%>
<line class="pers1" x1="<%=@pers[0][0]*x_scale+x_shift%>" y1="<%=@pers[0][1]*y_scale+y_shift%>" x2="<%=@pers[1][0]*x_scale+x_shift%>" y2="<%=@pers[1][1]*y_scale+y_shift%>"/>
<line class="pers2" x1="<%=@pers[1][0]*x_scale+x_shift%>" y1="<%=@pers[1][1]*y_scale+y_shift%>" x2="<%=@pers[2][0]*x_scale+x_shift%>" y2="<%=@pers[2][1]*y_scale+y_shift%>"/>
<line class="pers7" x1="<%=@pers[2][0]*x_scale+x_shift%>" y1="<%=@pers[2][1]*y_scale+y_shift%>" x2="<%=@pers[7][0]*x_scale+x_shift%>" y2="<%=@pers[7][1]*y_scale+y_shift%>"/>
<line class="pers3" x1="<%=@pers[3][0]*x_scale+x_shift%>" y1="<%=@pers[3][1]*y_scale+y_shift%>" x2="<%=@pers[4][0]*x_scale+x_shift%>" y2="<%=@pers[4][1]*y_scale+y_shift%>"/>
<line class="pers4" x1="<%=@pers[4][0]*x_scale+x_shift%>" y1="<%=@pers[4][1]*y_scale+y_shift%>" x2="<%=@pers[5][0]*x_scale+x_shift%>" y2="<%=@pers[5][1]*y_scale+y_shift%>"/>
<line class="pers5" x1="<%=@pers[5][0]*x_scale+x_shift%>" y1="<%=@pers[5][1]*y_scale+y_shift%>" x2="<%=@pers[6][0]*x_scale+x_shift%>" y2="<%=@pers[6][1]*y_scale+y_shift%>"/>
<line class="pers6" x1="<%=@pers[6][0]*x_scale+x_shift%>" y1="<%=@pers[6][1]*y_scale+y_shift%>" x2="<%=@pers[2][0]*x_scale+x_shift%>" y2="<%=@pers[2][1]*y_scale+y_shift%>"/>
<line class="pers8" x1="<%=@pers[7][0]*x_scale+x_shift%>" y1="<%=@pers[7][1]*y_scale+y_shift%>" x2="<%=@pers[8][0]*x_scale+x_shift%>" y2="<%=@pers[8][1]*y_scale+y_shift%>"/>
<line class="pers9" x1="<%=@pers[8][0]*x_scale+x_shift%>" y1="<%=@pers[8][1]*y_scale+y_shift%>" x2="<%=@pers[9][0]*x_scale+x_shift%>" y2="<%=@pers[9][1]*y_scale+y_shift%>"/>
<line class="pers10" x1="<%=@pers[9][0]*x_scale+x_shift%>" y1="<%=@pers[9][1]*y_scale+y_shift%>" x2="<%=@pers[10][0]*x_scale+x_shift%>" y2="<%=@pers[10][1]*y_scale+y_shift%>"/>
<line class="pers11" x1="<%=@pers[10][0]*x_scale+x_shift%>" y1="<%=@pers[10][1]*y_scale+y_shift%>" x2="<%=@pers[11][0]*x_scale+x_shift%>" y2="<%=@pers[11][1]*y_scale+y_shift%>"/>

</svg>

<script>clickedSkymap()</script>
<script src=timer.js></script>
<script src="map.js"></script>
</div>
